global:
  serverTelemetry:
    prometheusOperator: true
injector:
  enabled: false
server:
  dataStorage: 
    enabled: false
  image:
    tag: 1.20.1
  extraEnvironmentVars:
    VAULT_LOG_LEVEL: trace
  extraSecretEnvironmentVars:
    - envName: VAULT_PG_CONNECTION_URL
      secretName: vault-db-creds
      secretKey: db_url
  ha:
    enabled: true
    config: | 
      storage "postgresql" {
          ha_enabled = "true"
      }
      listener "tcp" {
        tls_disable = 1
        address = "[::]:8200"
        cluster_address = "[::]:8201"
        telemetry {
          unauthenticated_metrics_access = "true"
        }
      }
      ui = true
      service_registration "kubernetes" {}
      telemetry {}
    
  standalone: 
    enabled: false
ui:
  enabled: true
serverTelemetry:
  serviceMonitor:
    enabled: true

