cluster:
  name: isis-secrets

destinations:
  - name: metrics-service
    type: prometheus
    url: https://mimir.observability.isis.rl.ac.uk/isis-secrets/api/v1/push
    auth:
      type: basic
      usernameKey: username
      passwordKey: password
    secret:
      create: false
      name: mimir-basic-auth
      namespace: monitoring

  - name: logs-service
    type: loki
    url: https://loki.observability.isis.rl.ac.uk/isis-secrets/loki/api/v1/push
    auth:
      type: basic
      usernameKey: username
      passwordKey: password
    secret:
      create: false
      name: loki-basic-auth
      namespace: monitoring

annotationAutodiscovery:
  enabled: true
  namespaces: [argocd, envoy-gateway-system, monitoring, vault, vault-op]

applicationObservability:
  enabled: false

clusterEvents:
  enabled: true
  namespaces: [argocd, envoy-gateway-system, monitoring, vault, vault-op]

clusterMetrics:
  enabled: true
  cadvisor:
    metricsTuning:
      includeNamespaces: [argocd, envoy-gateway-system, monitoring, vault, vault-op]
  kube-state-metrics:
    namespaces: [argocd, envoy-gateway-system, monitoring, vault, vault-op]

podLogs:
  enabled: true
  # Explicitly not logging the monitoring stack here
  namespaces: [argocd, envoy-gateway-system, monitoring, vault, vault-op]

profiling:
  enabled: false

prometheusOperatorObjects:
  enabled: true
  crds:
    deploy: true
  probes:
    namespaces: [argocd, envoy-gateway-system, monitoring, vault, vault-op]
  podMonitors:
    namespaces: [argocd, envoy-gateway-system, monitoring, vault, vault-op]
  serviceMonitors:
    namespaces: [argocd, envoy-gateway-system, monitoring, vault, vault-op]

alloy-metrics:
  enabled: true

alloy-singleton:
  enabled: true

alloy-logs:
  enabled: true

alloy-receiver:
  enabled: false

alloy-profiles:
  enabled: false
